@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
}

@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
    );
    font-family: 'Suisse';
    font-weight: bold;
}

html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #C84FFF;
    color: #C4F533;
    position: relative;
    max-width: 540px;
    min-height: 100%;
    margin: 0 auto;
    font-family: 'Suisse';
    box-sizing: border-box;
    padding: 36px;
    display: grid;
    justify-content: start;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.button {
    width: 150px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 0.5;
}

.image {
    display: block;
    width: 80%;
    border-radius: 10px ;
}

.image_holder{
    margin: auto auto 10vh;
}

.advice {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    margin: 15vh auto 10px;
}

.footer {
    font-size: 16px;
    margin: 0;
    position: absolute;
    bottom: 36px;
}

